body {
  border: none;
  position: relative;
  right: 350px;
  border-radius: 20px;
  margin-left: 700px;
  padding-left: 20px;
  background-image: url(image/pexels-photo-531767.webp);
  background-repeat: no-repeat;
  background-size: 650px 650px;
  background-position: center;
}
form {
  margin-top: 80px;
  position: relative;
  top: -100x;
  padding-bottom: 30px;
  width: 390px;
}
h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  font-weight: 500;
  margin-left: 20px;
  position: relative;
  top: -45px;
}

li {
  position: relative;
  top: -100px;
  left: 420px;
  list-style: none;
  padding: 0px;
  font-family: "Edu NSW ACT Foundation", cursive;
  font-size: 25px;
  font-weight: 500;
}
.description {
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -70px;
  left: 20px;
  font-size: 25px;
  font-weight: 400;
}
.btn-primary {
  position: relative;
  right: -415px;
  top: -55px;
}
.btn-success {
  position: relative;
  right: -425px;
  top: -55px;
}

.city {
  font-size: 20px;
}

.temp {
  font-size: 48px;
  font-family: "Roboto", sans-serif;
  position: relative;
  left: -10px;
}

.fahrenheit,
.celsius {
  font-size: 28px;
  font-family: "Roboto", sans-serif;
  position: relative;
  top: -16px;
  color: #005792;
  text-decoration: none;
}
.colorChange {
  color: #000;
}

.colorChange:hover {
  color: #000;
}

.celsius:hover {
  cursor: default;
}
.fahrenheit:hover {
  cursor: default;
}

.pipe {
  position: relative;
  top: -16px;
  font-size: 30px;
}

.dayAndTime {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
  font-size: 25px;
}
.days {
  position: relative;
  top: -30px;
  left: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
}

.miniTemp {
  opacity: 0.7;
}
.weatherIcon {
  position: relative;
  left: -40px;
}
